<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.briup.cms.mapper.basic.LogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.briup.cms.bean.basic.Log">
        <id column="id" property="id" />
        <result column="username" property="username" />
        <result column="business_name" property="businessName" />
        <result column="request_url" property="requestUrl" />
        <result column="request_method" property="requestMethod" />
        <result column="ip" property="ip" />
        <result column="source" property="source" />
        <result column="spend_time" property="spendTime" />
        <result column="create_time" property="createTime" />
        <result column="params_json" property="paramsJson" />
        <result column="result_json" property="resultJson" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, username, business_name, request_url, request_method, ip, source, spend_time, create_time, params_json, result_json
    </sql>

</mapper>
